data:
  path: /home/shawley/datasets/POP909_images  # adjust path as needed
  image_size: 128
  in_channels: 1

model:
  patch_size: 16
  dim: 256
  depth: 4
  heads: 8
  dec_depth: 6   # decoder vit 
  dec_heads: 8

training:
  batch_size: 768
  lr: 1e-4
  epochs: 1000
  lambd: 0.3
  max_shift_x: 12   # will increase w/epoch via curriculum
  max_shift_y: 12

preencode:
  output_dir: /home/shawley/datasets/POP909_encoded
  num_passes: 10  # number of passes through the dataset

wandb:
  project: vit-midi-rae
  